<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attendee.name %>
</p>

<p>
  <b>Twitter handle:</b>
  <%= @attendee.twitter_handle %>
</p>

<p>
  <b>Bio:</b>
  <%= @attendee.bio %>
</p>

<p>
  <b>Address:</b>
  <%= @attendee.address %>
</p>

<p>
  <b>Picture:</b>
  <%= image_tag(@attendee.picture.url, :width => 600) if @attendee.picture.present? %>
</p>

<p>
  <b>Comment:</b>
  <%= @attendee.comment %>
</p>


<%= link_to 'Edit',    edit_attendee_path(@attendee) %> |
<%= link_to 'Destroy', attendee_path(@attendee), :method => :delete, :confirm => "Are you sure?" %> |
<%= link_to 'Index',   attendees_path %>
